acres
altair
altgraph
attrs
blinker
cachetools
certifi
charset-normalizer
ci-info
click
colorama
configobj
configparser
cx_Freeze
cx_Logging
et_xmlfile
etelemetry
filelock
fitz
gitdb
GitPython
httplib2
idna
importlib_metadata
importlib_resources
isodate
Jinja2
jsonschema
jsonschema-specifications
lief
looseversion
lxml
markdown-it-py
MarkupSafe
mdurl
narwhals
networkx
nibabel
nipype
numpy
openpyxl
packaging
pandas
pefile
pillow
protobuf
prov
puremagic
pyarrow
pydeck
pydot
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyMuPDF
pyparsing
pyperclip
python-dateutil
python-docx
python-pptx
pytz
pyxnat
rdflib
referencing
requests
rich
rpds-py
scipy
simplejson
six
smmap
streamlit
tenacity
toml
tomli
tornado
traits
typing_extensions
tzdata
urllib3
watchdog
XlsxWriter
zipp
